<mat-drawer-container class="app-sidenav-container">
    <mat-drawer #drawer
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
              
                [ngClass]="(isHandset$ | async) ? 'app-sidenav mat-elevation-z10':'hidden'">
                <mat-toolbar color="primary">
                  Eventi
                </mat-toolbar>
                <app-menu/>
            
                
    </mat-drawer>
    <mat-drawer-content  class="app-sidenav-content">
      <app-toolbar (toogleSidenav)="drawer.toggle()">
      </app-toolbar>
      <div class="wrapper">
          <router-outlet></router-outlet>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
