<mat-drawer-container class="app-sidenav-container" >
    <mat-drawer #drawer
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
              
                [ngClass]="(isHandset$ | async) ? 'app-sidenav mat-elevation-z10':'hidden'">
                <mat-toolbar color="primary">
                  <span>Messina 14</span>
                </mat-toolbar>
              
                 
                
    </mat-drawer>
    <mat-drawer-content  class="app-sidenav-content">
   
      <mat-toolbar color="primary">
        <span><img src="assets/img/me14.png"></span>
        <span class="example-spacer"></span>
        <button mat-button class="app-sidenav-toogle" (click)="drawer.toggle()" *ngIf="(isHandset$ |async)">
            <mat-icon>menu</mat-icon>
        </button>
        
        <div *ngIf="!(isHandset$ |async)">
           
            <button mat-button>Branche</button>
            <button mat-button>Co.Ca.</button>
            <button mat-button [matMenuTriggerFor]="doc">Utilit&agrave;</button>
            <mat-menu #doc="matMenu">
              <button mat-menu-item>Modulistica</button>
              <button mat-menu-item>Tecniche</button>
              <button mat-menu-item>Carte di Clan</button>
              <button mat-menu-item>Mani abili</button>
              <button mat-menu-item>Pr. Educativi</button>
              <button mat-menu-item>Canzoni</button>
            </mat-menu>
            <button mat-button>Notizie</button>
            <button mat-button>Video</button>
            <button mat-button [matMenuTriggerFor]="menu">Gallery</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/gallery/lc']">Foto L/C</button>
              <button mat-menu-item [routerLink]="['/gallery/eg']">Foto E/G</button>
              <button mat-menu-item [routerLink]="['/gallery/rs']">Foto R/S</button>
              <button mat-menu-item [routerLink]="['/gallery/varie']">Foto Gruppo</button>
            </mat-menu>
        </div>
      </mat-toolbar>
 

      <div class="wrapper">
          <router-outlet></router-outlet>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
