.dialog-container {
    max-width: 80vw;
    max-height: 120vh;
   
    overflow: hidden;
}

.responsive-image {
    max-width: 100%;
   max-height: 80vh;
    display: block;
}

.overflowHidden{
    overflow: hidden;
    max-height: 100vh;
}

img{
      max-width: 80vw;
   
}