<mat-dialog-content class="overflowHidden">
  
  
    <mat-card  appearance="outlined">
        <mat-card-content>
             <div class="dialog-container">
              <img src={{this.img}} class="responsive-image"/>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="previous()" [disabled]="indexFoto==0"><mat-icon>skip_previous</mat-icon></button>
          <h4 mat-dialog-title>{{(indexFoto! + 1)}}/{{totFoto}}</h4>
          <button mat-button (click)="next()" [disabled]="indexFoto==totFoto-1"><mat-icon>skip_next</mat-icon></button>
        </mat-card-actions>
      </mat-card>
	  
  
  </mat-dialog-content> 

