

<div class="container">
    <div class="itemHead">
        <h2>Notizie dal nostro mondo</h2>      
     </div>   
    <div  *ngFor="let post of (this.video)" class="item">

        <mat-card appearance="outlined"  style="text-align: center;" >
            <mat-card-header>
          
            </mat-card-header>
        
            
            <mat-card-content >
                
                     <div class="video-wrapper" >
                        <video width="{{post.width}}" height="{{post.height}}" controls>
                            <source [src]="post.url | safe" type="video/mp4"/> 
                            
                        </video>
                        <div class="video-controls">
                            <button data-media="play-pause"></button>
                            <button data-media="mute-unmute"></button>
                        </div>
                    </div>
                    <p>{{post.caption}}</p>       
                
            </mat-card-content>  
        </mat-card>
       
    </div>
 
     <div  *ngFor="let post of (this.carousels)" class="item">

        <mat-card appearance="outlined"  style="text-align: center;" >
            <mat-card-header>
                
            </mat-card-header>
        
            
            <mat-card-content >
                
                    <app-image-slider [slides]="post.foto"></app-image-slider>
                    <p>{{post.caption}}</p>       
                
            </mat-card-content>  
        </mat-card>
       
    </div>
 
   
</div> 