

<div class="container">
    <div class="itemHead">
        <h2>Video Messina 14</h2>      
     </div>   
     <div  *ngFor="let post of this.video" class="item" >

        <mat-card appearance="outlined"  style="text-align: center;">
            <mat-card-header>
          
            </mat-card-header>
        
            
            <mat-card-content >
                <embed
                    [src]="post.medialUrl| safe"
                    wmode="transparent"
                    type="video/mp4"
                    width="100%" height="100%"
                    allow="autoplay; encrypted-media; picture-in-picture"
                    allowfullscreen
                    title="Keyboard Cat"
                >
                
            </mat-card-content>  
        </mat-card>
       
    </div>
 
   
</div> 