<div class="container">
   <div class="item-a">
       <app-image-slider [slides]="(slideHomePage)"></app-image-slider>
   </div>
   <div class="item-b"> 
      <mat-card class="example-card" appearance="outlined">
         <mat-card-header>
            <mat-card-title>Ultime foto</mat-card-title>
         </mat-card-header>
         <mat-card-content>
            <app-image-slider [slides]="(slideLastAlbums)"></app-image-slider>
         </mat-card-content>
         
         </mat-card>
      
   </div>
   <div class="item-c">

       <mat-card class="example-card" appearance="outlined">
         <mat-card-header>
            <mat-card-title>Link Utili</mat-card-title>
         </mat-card-header>
         <mat-card-content>
            <mat-list role="list">
               <mat-list-item><a href="https://www.instagram.com/agescimessina14/" target="_blank">Instagram</a></mat-list-item>
               <mat-list-item><a href="https://www.youtube.com/@agescimessina14" target="_blank">YouTube</a></mat-list-item>
               <mat-list-item role="listitem"><a href="https://www.agesci.it/" target="_blank">Agesci.it</a></mat-list-item>
               <mat-list-item role="listitem"><a href="https://www.agescizonadellostretto.org/" target="_blank">Zona dello stretto</a></mat-list-item>
               <mat-list-item role="listitem"><a href="https://lanuovazagara.it/" target="_blank">La nuova Zagara</a></mat-list-item>
               <mat-list-item role="listitem"><a href="https://buonacaccia.net/" target="_blank">Buona caccia</a></mat-list-item>
               <mat-list-item role="listitem"><a href="https://www.facebook.com/ParrocchiaSantaDomenicaVM/?locale=it_IT" target="_blank">Parrocchia Santa Domenica VM</a></mat-list-item>
         </mat-list>   
         </mat-card-content>
         
      </mat-card>
 
       
   </div>
   
   <div class="item-d" >
      

   </div>
   

 </div>
