

.item {
    align-self:auto ;
    flex: 1 1 calc(33% - 10px);
    margin: 5px;
    
  }

  .itemHead {
    
    flex: 1 1 calc(100%);
     
  }

  .itemHead span{
   
    font-size: 25px;
    margin-right: 10px;
    
  }