  
<div class="container">
    <div class="itemHead">
        <span>Album {{this.branca}}</span>
        
        <div class="filer">
               <mat-form-field class="example-full-width" *ngIf="(albums$ |async)" >
                <mat-label>Inserisci un anno</mat-label>
                <input matInput [(ngModel)]="anno" (input)="onAnnoChange($event)" >
              </mat-form-field>
             
             
        </div>
    </div>
    
    <div class="item"  *ngFor="let al of (this.albums$ | async)!">


    </div>
  </div>
