  
<div class="container">
    <div class="itemHead">
        <span>Foto {{this.brancaSelected | branca}}</span>
        
        <div class="filer">
               <mat-form-field class="example-full-width" *ngIf="(albums$ )" >
                <mat-label>Inserisci un anno</mat-label>
                <input matInput [(ngModel)]="anno" (input)="onAnnoChange()" >
              </mat-form-field>
             
             
        </div>
    </div>
    
    <div class="item"  *ngFor="let al of (this.albums$ | async)!">
        <app-thumbnail [album]="(al)" />
    </div>
  </div>
